django>=5.2.1
django-crispy-forms>=2.4
crispy-tailwind>=1.0.3
gunicorn>=21.2.0
reportlab>=4.0.0
reportlab
pillow
wagtail
wagtail-modeladmin
crispy-tailwind>=1.0.3
django>=5.2.1
django-crispy-forms>=2.4
gunicorn>=21.2.0
pillow
reportlab>=4.0.0
wagtail
wagtail-modeladmin
crispy-tailwind>=1.0.3
django>=5.2.1
django-crispy-forms>=2.4
gunicorn>=21.2.0
pillow
reportlab>=4.0.0
wagtail
wagtail-modeladmin
